body {
	padding: 0px;
}

footer, hr {
	display: none;
}

.container {
	width: 100%;
}

.navbar, .aspNetHidden, .aspNetHidden {
	display: none;
}

#div_content {
	margin: 0px;
}

#left-sidebar {
	float: left;
	display: block;
	width: 15%;
	height: 800px;
	text-align: center;
}

#left-sidebar {
	float: left;
	display: block;
	width: 247px;
	min-height: 100%;
	font-size: 15px;
}


	#left-sidebar ul {
		padding: 0px 13px;
		margin: 0px;
		list-style: none;
		min-height: 1380px;
		background: -webkit-linear-gradient(0deg, #690089, #F70054);
		background: -o-linear-gradient(0deg, #690089, #F70054);
		background: -moz-linear-gradient(0deg, #690089, #F70054);
		background: linear-gradient(0deg, #690089, #F70054);
		position: fixed;
		width: 274px;
	}
		#left-sidebar ul li {
			padding: 10px;
			width: 100%;
			-webkit-transition-duration: .25s;
			-moz-transition-duration: .25s;
			-o-transition-duration: .25s;
			transition-duration: .25s;
			border-bottom: 1px solid rgba(255, 255, 255, .4);
		}

			#left-sidebar ul li:hover {
				border-bottom: 1px solid #fff;
				background: rgba(255,255,255,0.2);
			}

			#left-sidebar ul li input {
				font-size: 13px;
				text-align: left;
				width: 92%;
				color: rgba(255,255,255,0.7);
				outline: none;
			}

	#left-sidebar p {
		margin: 0px;
		font-size: 13px;
		text-align: center;
		color: rgba(255,255,255,0.7);
	}

		#left-sidebar ul li input:hover, #left-sidebar p:hover {
			text-decoration: none;
			color: #fff;
		}

	#left-sidebar ul li i {
		height: 19px;
		line-height: 19px;
		color: #fff;
		float: right;
	}



#right-content {
	display: block;

	width: calc(100% - 274px);
	height: auto;
	text-align: center;
	background: #F6F8FA;
	margin-left: 274px;
}

.clear {
	clear: both;
}

.auto-style1 {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	height: auto;
}

.div_button {
	text-align: center;
}


.mynav-bar {
	display:none;
	margin: 0px;
	background: #fff;
	-webkit-box-shadow: 0px 8px 74px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 74px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 8px 74px rgba(0, 0, 0, 0.15);
}

	.mynav-bar span {
		margin-right: 15px;
	}

	.mynav-bar a {
		color: #000 !important;
	}


	.mynav-bar li:hover {
		-webkit-transition-duration: .25s;
		-moz-transition-duration: .25s;
		-o-transition-duration: .25s;
		transition-duration: .25s;
		background: #e7e7e7;
	}


	.mynav-bar .dropdown-menu {
		-webkit-transition-duration: .25s !important;
		-moz-transition-duration: .25s !important;
		-o-transition-duration: .25s !important;
		transition-duration: .25s !important;
	}

.icon {
	width: 80px;
	margin: 20px 0px;
	border-radius: 100%;
	vertical-align: middle;
}

.icon-a {
	display: block;
	text-align: center;
	padding: 0px !important;
}

a:hover, a:focus {
	text-decoration: none;
}

.admin-table{
	background:#fff;
}

.admin-table tr{
	height:50px;
}

	.admin-table tr:nth-child(even){
		background:#e3e3e3;
	}

	.admin-table th{
		text-align:center;
	}

	.admin-table td a {
		width: 100px;
		height: 30px;
		line-height: 30px;
		border-radius: 5px;
		margin-left: 5px;
		display: inline-block;
		background: #F03379;
		color: white;
		-webkit-transition-duration: .25s;
		-moz-transition-duration: .25s;
		-o-transition-duration: .25s;
		transition-duration: .25s;
	}

	.admin-table td a:hover {
		color:#000;
		background:#fff;
	}

	.admin-table td{
		width:183px;
	}

	.admin-table td span{
		padding-left:10px;
	}
#chart{
	
	margin:0 auto;
}

#chart div{
	float:left;
	margin:5px 0px 0px 5px;
}


.content-wrapper {
	background: #F6F8FA;
	padding: 1.5rem 1.7rem;
	transition: width 0.25s ease, margin 0.25s ease;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.grid-margin {
	margin-bottom: 1.875rem;
}

.col-md-4 {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}


.text-white {
	color: #fff !important;
}

.stretch-card {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: stretch;
	align-items: stretch;
	-webkit-justify-content: stretch;
	justify-content: stretch;
}

	.stretch-card > .card {
		width: 520.65px;
	}

.bg-gradient-warning {
	background: linear-gradient(to right, rgba(255, 88, 88, 0.9), rgba(240, 152, 25, 0.9));
}

.bg-gradient-info {
	background: linear-gradient(to right, rgba(68, 129, 235, 0.9), rgba(4, 190, 254, 0.9));
}

.bg-gradient-success {
	background: linear-gradient(to right, rgba(80, 204, 127, 0.9), rgba(245, 209, 0, 0.9));
}

.card .card-body {
	padding: 1.88rem 1.81rem;
}

div.card-body {
	margin: 20px;
	padding: 30px;
}