/*
柯乐义 2013 http://keleyi.com 
*/
#box-keleyi-com li, ul, p {
	margin: 0;
	padding: 0;
}

#box-keleyi-com ul {
	list-style-type: none;
}

#box-keleyi-com {
	position: relative;
	width: 758px;
	height: 480px;
}

	#box-keleyi-com .imgList {
		position: relative;
		width: 700px;
		height: 480px;
		/*overflow: hidden;*/
	}

		#box-keleyi-com .imgList li {
			position: absolute;
			top: 0;
			left: 0;
			width: 700px;
			height: 480px;
		}

	#box-keleyi-com .countNum { /*图片轮播右下角导航*/
		position: absolute;
		right: 15px;
		bottom: 18px;
	}

		#box-keleyi-com .countNum li { /*图片轮播右下角导航列表*/
			width: 20px;
			height: 20px;
			float: left;
			color: black;
			border-radius: 20px;
			background: white;
			text-align: center;
			margin-right: 5px;
			cursor: pointer;
			opacity: 0.7;
			filter: alpha(opacity=70);
		}

			#box-keleyi-com .countNum li.current { /*图片轮播右下角当前展示导航项*/
				background: white;
				font-weight: bold;
				opacity: 1;
				filter: alpha(opacity=70);
			}
