#div_right { /*右侧功能区*/
	width: 202px;
	height: 475px;
	float: left;
	background: #fff;
}

#user_info_container { /*用户容器*/
	/*border: 1px red solid;*/
	background: url(/img/DefaultImg/login_bc.png) no-repeat;
	height: 154px;
}

#user_img { /*用户头像容器*/
	/*border: 1px red solid;*/
	height: 50px;
	width: 200px;
	text-align: center;
}

#user_info_container > #user_info { /*用户信息容器*/
	/*border: 1px red solid;*/
	height: 50px;
	width: 200px;
	text-align: center;
	font-size: 15px;
}

#user_info_btn {
	height: 50px;
	text-align: center;
}

.user_info_btn_a {
	background: #FF0000;
	color: #fff;
	width: 50px;
	-webkit-transition-duration: .25s;
	-moz-transition-duration: .25s;
	-o-transition-duration: .25s;
	transition-duration: .25s;
	margin-left: 5px;
	padding: 3px 10px;
	border-radius: 5px;
}

	.user_info_btn_a:hover {
		background: #FF0000;
		color: #fff;
		width: 50px;
		background-color: #444;
		color: white;
		box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.17);
		text-decoration: none;
	}



#myCarousel {
	float: left;
	height: 315px;
	/*border: 1px red solid;*/
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}

.clear {
	clear: both;
}

/*banner-ad*/
#banner {
	float: left;
}


#banner-modal {
	width: 750px;
	height: 160px;
	clear: both;
	position: relative;
}

	#banner-modal .item {
		width: 796px;
		height: 160px;
	}

	#banner-modal .product-ad {
		width: 187.5px;
		height: 160px;
		border-left: 1px gainsboro solid;
	}

	#banner-modal .cover {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 199px;
		height: 160px;
		opacity: 0.15;
	}

		#banner-modal .cover:hover {
			background: gray;
		}

	#banner-modal .carousel-inner a {
		width: 187.5px;
		height: 160px;
		float: left;
		position: relative;
		display: block;
	}

	/*=============左箭头=============*/
	#banner-modal .carousel-control {
		position: absolute;
		width: 30px;
		height: 60px;
		margin: auto;
	}

#banner-left-arrow {
	background: #000000;
	opacity: .2;
}

	#banner-left-arrow:hover {
		opacity: .8;
	}

	#banner-left-arrow span {
		left: 0px;
		top: 15px;
		margin: auto;
	}

/*=============右箭头=============*/
#banner-right-arrow {
	background: #000000;
	opacity: .2;
}

	#banner-right-arrow:hover {
		opacity: .8;
	}

	#banner-right-arrow span {
		right: 0px;
		top: 15px;
		margin: auto;
	}

/*=======================*/
.cover, #banner-modal .carousel-control {
	-webkit-transition-duration: .25s;
	-moz-transition-duration: .25s;
	-o-transition-duration: .25s;
	transition-duration: .25s;
}


/*banner-ad-small*/

#banner-small-modal {
}

.product-ad-small {
}
/*=============左箭头=============*/
#banner-small-modal .carousel-control {
	width: 30px;
	height: 60px;
	margin: auto;
}

#banner-small-left-arrow {
	background: #000000;
	opacity: .2;
}

	#banner-small-left-arrow:hover {
		opacity: .8;
	}

	#banner-small-left-arrow span {
		left: 0px;
		top: 15px;
		margin: auto;
	}

/*=============右箭头=============*/
#banner-small-right-arrow {
	background: #000000;
	opacity: .2;
}

	#banner-small-right-arrow:hover {
		opacity: .8;
	}

	#banner-small-right-arrow span {
		right: 0px;
		top: 15px;
		margin: auto;
	}


