#product-body {
	width: 1200px;
	background-color: #fff;
}

#product-body {
	font-size: 12px;
}

#product-body a {
	text-decoration: none;
	color: #666;
}


#product-body body,
ul,
li,
ol,
p,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
img,
iframe,
form {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: 0;
}

.book_new {
	height: 499px;
	overflow: hidden;
	position: relative;
	margin: 20px auto 0px auto;
	background: #fff;
}

.book_new * {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

.book_new .home_screen_head {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 910px;
	height: 44px;
	border-bottom: 2px solid #000;
	color: #323232;
	font: bold 20px/44px "Microsoft YaHei";
}

.book_new .tab_box_aa {
	position: absolute;
	top: 56px;
	left: 0;
	width: 910px;
	height: 443px;
}

.book_new .floor_tab_bang {
	width: 278px;
	height: 497px;
	position: absolute;
	right: 0;
	top: 0;
	border: 1px solid #e6e6e6;
	overflow: hidden;
}

/*--------------------------------------*/
/*--------------.home_screen_head------------------------*/

.book_new .home_screen_head a,
.book_new .home_screen_head a:hover {
	color: #323232;
	text-decoration: none;
	cursor: pointer;
}

.book_new .home_screen_head span {
	font-size: 16px;
	position: relative;
	top: -3px;
}



/*--------------------------------------*/
/*--------------.tab_box_aa ------------------------*/
/*--------------.head ------------------------*/
.book_new .tab_box_aa .head {
	height: 44px;
	width: 655px;
	border-right: 1px solid #e6e6e6;
	position: absolute;
	top: -56px;
	right: 0;
}

.book_new .tab_box_aa .head .tab_aa {
	float: right;
}

.book_new .tab_box_aa .tab_aa li {
	float: left;
	width: 114px;
	height: 42px;
	padding-top: 1px;
	border: 1px solid #e6e6e6;
	border-width: 1px 0 0 1px;
	text-align: center;
	background-color: #f5f5f5;
	font: 14px/42px "Microsoft YaHei";
	color: #646464;
	cursor: default;
	overflow: hidden;
}

.book_new .tab_box_aa .tab_aa li.first {
	margin-right: 0;
}

/*--------------.tab_box_aa ------------------------*/
/*--------------.tab_content_aa tab_content_aa  ------------------------*/
.book_new .tab_box_aa .tab_content_aa {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	width: 910px;
	height: 441px;
	overflow: hidden;
	position: relative;
}

.book_new .tab_box_aa .tab_aa li.on {
	font-weight: bold;
	background-color: #fff;
	width: 112px;
	border: 2px solid #000;
	border-bottom: 0 !important;
	padding: 0 0 2px 0;
	margin-bottom: -2px;
	color: #525252;
}

.con {
	clear: both;
}

.book_new .tab_box_aa .tab_content_aa .book_left_pic {
	width: 238px;
	height: 441px;
	border: 1px solid #e6e6e6;
	border-width: 0 1px;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	text-align: center;
}

.book_new .book_tab_img {
	position: absolute;
	bottom: 0;
	left: 1px;
	width: 237px;
	padding-left: 1px;
	background-color: #fff;
	background: url(http://img63.ddimg.cn/upload_img/00111/home/home_bg_1509.png) 0 0;
}

.book_new .book_tab_img li {
	float: left;
	width: 63px;
	height: 28px;
	line-height: 28px;
	padding-left: 16px;
	overflow: hidden;
}

.book_new .book_tab_img li a,
.book_new .book_tab_img li a:hover {
	color: #323232;
	font: 12px/28px "Microsoft YaHei";
}

.book_new .book_tab_img li a:hover {
	color: #ff2832;
}

/*--------------.tab_box_aa ------------------------*/
/*--------------.tab_content_aa tab_content_aa  ------------------------*/
/*--------------.roll_aa  ------------------------*/
.book_new .roll_aa {
	width: 335px;
	height: 220px;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	top: 0;
	left: 240px;
	overflow: hidden;
	position: absolute;
}

.book_new .mix_marquee_tab {
	position: absolute;
	bottom: 6px;
	left: 50%;
	z-index: 666;
}

.book_new .mix_marquee_tab li.current {
	background: #5e5e5e;
}

.book_new .mix_marquee_tab li {
	float: left;
	width: 10px;
	height: 3px;
	margin-right: 4px;
	_display: inline;
	font-size: 0;
	line-height: 9px;
	overflow: hidden;
	background: #fff;
}

.book_new .roll_aa .btn_brand_prev,
.book_new .roll_aa .btn_brand_next {
	display: block;
	position: absolute;
	width: 30px;
	height: 43px;
	top: 7px;
	background-image: url(http://img60.ddimg.cn/upload_img/00111/home/home_sprite_1507.png);
	background-repeat: no-repeat;
	background-color: #000;
	z-index: 20;
	cursor: pointer;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.book_new .roll_aa .btn_brand_prev {
	left: 0;
	background-position: 0px -83px;
}

.book_new .roll_aa .btn_brand_next {
	right: 0;
	background-position: -36px -83px;
}

.book_new .book_upper2 {
	position: absolute;
	top: 0;
	right: 0;
	height: 220px;
	overflow: hidden;
	border-bottom: 1px solid #e6e6e6;
}

.book_new .book_upper2 .pic,
.book_new .book_lower4 .pic {
	float: left;
	width: 166px;
	height: 220px;
	overflow: hidden;
	border-right: 1px solid #e6e6e6;
}

.book_new .book_upper2 .list_aa {
	float: left;
	width: 166px;
	height: 220px;
	border-right: 1px solid #e6e6e6;
	position: relative;
}

.book_new .book_upper2 li .img,
.book_new .book_lower4 li .img {
	display: block;
	width: 150px;
	height: 150px;
	overflow: hidden;
	text-align: center;
	margin: 7px auto 0;
}

.book_new .book_upper2 li .name,
.book_new .book_lower4 li .name {
	height: 16px;
	line-height: 16px;
	width: 150px;
	margin: 5px auto 0;
	overflow: hidden;
}

.book_new .book_upper2 li .price,
.book_new .book_lower4 li .price {
	width: 150px;
	margin: 3px auto 0;
}

.book_new .book_upper2 li .rob,
.book_new .book_lower4 li .rob {
	color: #ff2832;
	font: 14px Arial;
	display: inline-block;
	margin-right: 10px;
}

.book_new .book_upper2 li .price_r,
.book_new .book_lower4 li .price_r {
	font: 12px Arial;
	color: #969696;
	text-decoration: line-through;
}



.book_new .book_lower4 {
	position: absolute;
	top: 221px;
	right: 0;
	width: 668px;
	height: 220px;
	overflow: hidden;
}

.book_new .book_lower4 .list_aa {
	float: left;
	width: 166px;
	height: 220px;
	border-right: 1px solid #e6e6e6;
	position: relative;
}

.book_new .book_upper2 li .img,
.book_new .book_lower4 li .img {
	display: block;
	width: 150px;
	height: 150px;
	overflow: hidden;
	text-align: center;
	margin: 7px auto 0;
}

/*--------------.tab_box_aa ------------------------*/
/*--------------.tab_content_aa floor_tab_bang ------------------------*/
/*head*/
.book_new .floor_tab_bang .headfloor_tab_bang {
	height: 46px;
	width: 280px;
}

.book_new .floor_tab_bang .headfloor_tab_bang li {
	float: left;
	height: 46px;
	width: 139px;
	border-right: 1px solid #e6e6e6;
	text-align: center;
	color: #464646;
	font: 16px/46px "Microsoft YaHei", Simsun;
	background-color: #f5f5f5;
	cursor: default;
	border-bottom: 1px solid #e6e6e6;
}

.book_new .floor_tab_bang .headfloor_tab_bang li.on {
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

.book_new .book_top li.line2 .num,
.book_new .book_top li.line3 .num {
	color: #ff3228;
}

/*content*/
.book_new .book_top ul {
	height: 429px;
	width: 278px;
	overflow: hidden;
}

.book_new .book_top li {
	border-bottom: 1px solid #e5e5e5;
	width: 278px;
	clear: both;
	vertical-align: top;
}

.book_new .book_top li.item {
	height: 132px;
}

.book_new .book_top li.bar {
	height: 32px;
	line-height: 32px;
}

.book_new .book_top li.line1 .num {
	color: #ff3228;
	font-weight: bold;
}

.book_new .book_top li .num {
	float: left;
	width: 25px;
	height: 33px;
	font: 12px/33px Arial;
	padding-left: 15px;
	background: #fff;
	margin-bottom: -1px;
	overflow: hidden;
}


.book_new .book_top li .img {
	width: 90px;
	height: 90px;
	overflow: hidden;
	float: left;
	margin: 15px 0 0;
}

.book_new .book_top li .img img {
	width: 90px;
	height: 90px;
}

.book_new .book_top li .name {
	float: left;
	width: 140px;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
}

.book_new .book_top li.item .name {
	height: 100px;
	margin: 15px 0 0 5px;
	_display: inline;
}

.book_new .book_top li.item .name a {
	line-height: 20px;
}

.book_new .book_top li.item .name a span {
	display: block;
	color: #969696;
}

.book_new .book_top li.item .name a span {
	display: block;
	color: #969696;
}

.book_new .book_top li.item .name a {
	line-height: 20px;
	display: block;
}